{% extends "homepage/base.html" %} 

{% load static %} 

{% block content %}

<section id="mainscreen" class="px-5 py-3 pt-4">
  <!-- Ribbon -->
  <div class="row">
      <div id="mainribbon" class="ribbon d-flex justify-content-between pt-2 mainribbonborder">
        <div class="ribbon-left ps-3"><img src="{% static 'homepage/person-ico.svg' %}" class="me-2"/>MAYANK.WEB</div>
        <div class="ribbon-right pe-3">{{ date }}</div>
      </div>
  </div>

  <!-- Main Stuff-->

  <div class="row bg-dark p-4 mainwindowborder">
    <!-- LEFT BLOCK -->
    <div class="col-lg-6 col-sm-12">
      {% comment %} Left Upper {% endcomment %}
      <div class="d-flex flex-column bg-white text-black windowborder my-sm-3 my-lg-0">
        {% comment %} Ribbon {% endcomment %}
        <div class="ribbonmainspacing ribbon d-flex justify-content-between py-2 text-white">
          <div class="ribbon-icon ribbon-left ps-3">
            <img class="threesoticon" src="{% static 'homepage/buttons.svg' %}" alt="" />
          </div>
          <div class="ribbon-name">BIO.JPG</div>
          <div class="ribbon-date ribbon-right pe-3">
            <img src="{% static 'homepage/person-ico.svg' %}" alt="" />
          </div>
        </div>

        <div class="row px-4 pt-4">
          <div class="col-lg-4 col-md-12 pe-2"><img src="{% static 'homepage/mayank-profile.png' %}" alt="" class="img-fluid"></div>
          <div class="col-lg-8 col-md-12 ps-3 pt-2">
            <h2 class="d-inline-block nametitle">Mayank Dhankar</h2>
            <span class="pixelfont hehim ps-lg-2 ps-sm-0 ps-md-0">HE/HIM</span>
            <h5 class="fw-bold">Web Developer @<a href="https://astratechz.com/" target=”_blank”>AstraTechZ</a></h5>
            <p class="hehim">Turning ideas into pixels and lines of code into beautiful websites.</p>
          </div>
        </div>
        <hr class="mb-0" />
        <div class="row px-4 py-3">
          <div class="col-lg-2 pixelfont mb-lg-0 mb-sm-1">Social Links</div>
          <div class="col-sm-12 col-lg-4 pixelfont mb-lg-0 mb-sm-1"><a href="https://www.linkedin.com/in/mayankxdhnkr/" target=”_blank”><i class="fa-lg fa-brands fa-linkedin-in me-2"></i>@mayankxdhankar</div></a>
          <div class="col-sm-12 col-lg-4 pixelfont mb-lg-0 mb-sm-1"><a href="https://twitter.com/dhankar_mayank" target=”_blank”><i class="fa-lg fa-brands fa-twitter me-2"></i>@dhankar_mayank</div></a>
        </div>
      </div>

      {% comment %} Left Lower {% endcomment %}
      <div class="row">
        {% comment %} LEft lower Left {% endcomment %}
        <div class="col-lg-6 col-sm-12 px-4 pt-4 align-self-center my-sm-3 my-lg-0">
          <div class="d-flex flex-column bg-white text-black windowborder">
            {% comment %} Ribbon {% endcomment %}
            <div class="ribbonmainspacing ribbon d-flex justify-content-between py-2 text-white">
              <div class="ribbon-icon ribbon-left ps-3"><img class="threesoticon" src="{% static 'homepage/buttons.svg' %}" alt="" /></div>
              <div class="ribbon-name">PROJECTS.GIT</div>
              <div class="ribbon-date ribbon-right pe-3"><img src="{% static 'homepage/icon-ico.svg' %}" alt="" /></div>
            </div>

            <div class="d-flex px-4 pt-2 pixelfont github">
              <h4 class="githubsec">Check out some cool projects on my <a href="https://github.com/mayankdhnkr" target=”_blank”><u>Github</u><i class="fa-brands fa-github fa-xl m-2"></i></a></h4>
            </div>
          </div>
        </div>

        {% comment %} LEft lower Right {% endcomment %}
        <div class="col-lg-6 col-sm-12 px-4 pt-4 my-sm-3 my-lg-0">
          <div class="d-flex flex-column bg-white text-black windowborder h-100">
            {% comment %} Ribbon {% endcomment %}
            <div class="ribbonmainspacing ribbon d-flex justify-content-between py-2 text-white">
              <div class="ribbon-icon ribbon-left ps-3"><img class="threesoticon" src="{% static 'homepage/buttons.svg' %}" alt="" /></div>
              <div class="ribbon-name">PROFILE.JPG</div>
              <div class="ribbon-date ribbon-right pe-3"><img src="{% static 'homepage/pic-ico.svg' %}" alt="" /></div>
            </div>

            <div class="gg">
              {% comment %} <img src="{% static 'homepage/mayank-profile.png' %}" class="img-fluid"> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %} Right {% endcomment %}
    <div class="col-lg-6 col-sm-12 my-sm-3 my-lg-0">
      <div class="d-flex flex-column h-100 my-sm-3 my-lg-0">
        <div class="d-flex filegroup justify-content-lg-end justify-content-lg-start me-lg-3 ms-sm-3">
          <div class="row my-sm-3 my-lg-0 res">
            <div class="col-lg-3 col-md-6 folders mx-3 d-flex align-items-center flex-column">
              <a href="{% url 'projects:webdev' %}" class="abcd text-decoration-none webdev-link">
                <div style="height:100px;width:100px;" class="webdev-icon-div"></div>
                <h6 class="webdevtext foldertext">WEB DEV PROJECTS</h6></a>
            </div>
            
            <div class="col-lg-3 col-md-6 folders mx-3 d-flex align-items-center flex-column">
              <a href="{% url 'projects:videoedits' %}" class="text-decoration-none video-link">
                <div style="height:100px;width:100px;" class="video-icon-div"></div>
                <h6 class="videotext foldertext">VIDEO EDITS</h6></a>
            </div>
            
            
            <div class="col-lg-3 col-md-6 folders mx-3 d-flex align-items-center flex-column">
              <a href="{% url 'projects:designprojects' %}" class="text-decoration-none design-link">
                <div style="height:100px;width:100px;" class="design-icon-div"></div>
                <h6 class="designtext foldertext">DESIGN STUFF</h6></a>
            </div>
            
            <div class="col-lg-3 col-md-6 folders ms-3 mt-0 d-flex align-items-center flex-column">
              <a href="{% static 'homepage/Mayank-Resume.pdf' %}" class="text-decoration-none resume-link" target=”_blank”>
                <div style="height:100px;width:100px;" class="resume-icon-div"></div>
                <h6 class="resumetext foldertext">MAYANK'S RESUME.PDF</h6></a>
            </div>
            
          </div>
          
        </div>

        <div class="row rightlower ps-lg-5">
          {% comment %} Right lower Left {% endcomment %}
          <div class="col-lg-8 col-sm-12 px-4 pt-4 align-self-center justify-content-center ps-lg-5">
            <div class="d-flex flex-column bg-white text-black windowborder">
              {% comment %} Ribbon {% endcomment %}
              <div class="ribbonmainspacing ribbon d-flex justify-content-between py-2 text-white">
                <div class="ribbon-icon ribbon-left ps-3">
                  <img class="threesoticon" src="{% static 'homepage/buttons.svg' %}" alt="" />
                </div>
                <div class="ribbon-name">ABOUT.TXT</div>
                <div class="ribbon-date ribbon-right pe-3">
                  <img src="{% static 'homepage/doc-ico.svg' %}" alt="" />
                </div>
              </div>

              <div class="d-flex px-4 pt-2">
                <p class="pixelfont fs-5">
                  I'm Mayank, a driven undergrad student and a multi-talented designer & developer. I love to work on new idea and bring my creativity
                  to existence. <br>Im also a huge anime fan who's always up for a discussing fandom characters. <br> <..GGs..>
                </p>
              </div>
            </div>
          </div>

          {% comment %} Right lower Right {% endcomment %}
          <div class="col-lg-4 col-sm-12">
            <div class="d-flex pt-4 justify-content-lg-end h-100">
              <div class="d-flex flex-lg-column flex-sm-row pt-4 align-self-end ms-sm-3 ms-lg-0">
                <div class="folders mx-sm-3 ms-sm-0 mx-lg-0 d-flex align-items-center flex-column">
                  <a href="{% url 'homepage:experience' %}" class="text-decoration-none exp-link">
                    <div style="height:100px;width:100px;" class="exp-icon-div"></div>
                    <h6 class="exptext foldertext">WORK EXPERIENCE</h6>
                  </a>
                </div>
                <div class="folders mx-sm-3 me-sm-0 mx-lg-0 d-flex align-items-center flex-column mt-lg-3 mt-sm-0">
                  <a href="{% url 'homepage:contactme' %}" class="text-decoration-none contact-link">
                    <div style="height:100px;width:100px;" class="contact-icon-div"></div>
                    <h6 class="contacttext foldertext">CONTACT ME</h6>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
