{% extends "homepage/base.html" %} 

{% load static %} 

{% block content %}

<section id="mainscreen" class="px-5 py-3 pt-4">
    <!-- Ribbon -->
    <div id="mainribbon" class="ribbon d-flex justify-content-between py-2 mainribbonborder">
      <div class="ribbon-left ps-3"><img src="{% static 'homepage/icon-ico.png' %}" alt="" />PORTFOLIO.WEB</div>
      <div class="ribbon-right pe-3">4:00pm (+5:30) ||<img src="{% static 'homepage/icon-ico.png' %}" alt=""/> India</div>
    </div>

    <div class="row bg-dark p-3 mainwindowborder">
        <div class="col-lg-6 col-sm-12 bg-success">heklllo</div>
        <div class="col-lg-6 col-sm-12 bg-danger">hekloosdadasd</div>
    </div>

  
</section>
{% endblock %}
