{% extends "homepage/base.html" %} 

{% load static %} 

{% block content %}

    <section id="mainscreen" class="px-5 py-3 pt-4">

        <!-- Ribbon -->
        <div class="row">
            <div id="mainribbon" class="ribbon d-flex justify-content-between pt-2 mainribbonborder">
                <div class="ribbon-left ps-3"><a href="/"><img src="{% static 'homepage/back-icon.svg' %}" class="me-2"/></a>PROJECTS</div>
                <div class="ribbon-right pe-3">{{ date }}</div>
            </div>
        </div>

        <div class="row bg-dark p-4 mainwindowborder">
            <h2 class="pixelfont my-3">VIDEO EDITING PROJECTS</h2>
            <div class="row">
                {% for project in projects %}
                {% if project.category == "VE" %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3 mb-5">
                        <div class="d-flex flex-column bg-white text-black windowborder h-100">
                            {% comment %} Ribbon {% endcomment %}
                            <div class="ribbonmainspacing ribbon d-flex justify-content-between py-2 text-white">
                              <div class="ribbon-icon ribbon-left ps-3"><img src="{% static 'homepage/buttons.svg' %}" class="threesoticon" alt="" /></div>
                              <div class="ribbon-name">{{project.title|upper}}</div>
                              <div class="ribbon-date ribbon-right pe-3"><img src="{% static 'homepage/pic-ico.svg' %}" alt="" /></div>
                            </div>
                        
                            <div class="pixelfont h-100">
                                <div class="card text-black h-100">
                                    {% if project.url %}
                                        <a href="{{ project.url }}" target=”_blank”><img src="{{ project.image.url }}" class="card-img-top img-fluid" alt="img"></a>
                                    {% else %}
                                        <img src="{{ project.image.url }}" class="card-img-top img-fluid" alt="img">
                                    {% endif %}    
                                    <div class="card-body">
                                        {% if project.url %}
                                            <a href="{{ project.url }}" target=”_blank”><h4 class="card-title fw-bolder">{{project.title|upper}}</h4></a>
                                        {% else %}
                                            <h4 class="card-title fw-bolder">{{project.title|upper}}</h4>
                                        {% endif %}
                                        <p class="card-text">{{project.description|upper}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
        </div>
        </div>
    </section>
{% endblock %}